<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}">
</head>
<body class="main-body">
    <nav th:replace="~{layout :: navigation}"></nav>
    <main>
        <div class="grid-container customer-index">
            <h1 style="text-align: center">Doctor Reservation</h1>

            <hr/>

            <h2 style="text-align: center">Welcome to this page :)
                This application is use to make an appointment with your doctor</h2>
        </div>
    </main>
    <footer th:replace="~{layout :: footer}"></footer>
    <th:block th:replace="~{layout :: javascript}"></th:block>


</body>
</html>