<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctor Reservation</title>
	<link rel="icon" type="image/ico" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/resources/css/normalize.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/font-awesome.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/site.css}" />
    <script th:src="@{/resources/js/jquery-3.6.0.js}"></script>
</head>
<body>
	<nav th:fragment="navigation">
		<div class="company-logo">
	        <img th:src="@{/resources/image/logo.png}" alt="Basilisk" />
	        <h1>
	            <span class="bold">Doctor Reservation</span>
	        </h1>
	    </div>
	    <a class="menu category" th:href="@{/}">
	        <i class="fas fa-th"></i>
	        <span>Home</span>
	    </a>
		<a class="menu supplier" th:href="@{/doctor}">
			<i class="fas fa-user-tie"></i>
			<span>Doctor</span>
		</a>
	    <a class="menu supplier" th:href="@{/patient}">
	        <i class="fas fa-user-tie"></i>
	        <span>Patient</span>
	    </a>
		<a class="menu supplier" th:href="@{/reservation}">
			<i class="fas fa-file-invoice-dollar"></i>
			<span>Reservation</span>
		</a>
	</nav>
    <header th:fragment="header (breadCrumbs)">
        <div class="bread-crumbs">
            <span th:text="${breadCrumbs}"></span>
        </div>
    </header>
    <main></main>
	<footer th:fragment="footer">
	    Copyrights &copy; 2022
	    <span class="author">Rahmah Tri Agustina</span>
	    All rights reserved.
	</footer>
	<th:block th:fragment="javascript">
		<script th:src="@{/resources/js/site.js}" defer></script>
	</th:block>
</body>
</html>