<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
<main>
    <form method="post" class="upsert-form alternate-action" th:object="${doctor}">
        <input type="hidden" th:field="*{id}"/>
        <table th:attr="data-action=${type}">
            <tbody>
            <tr>
                <td><label>First Name*</label></td>
                <td>
                    <input type="text" th:field="*{firstName}">
                    <div class="field-validation-error" th:errors="*{firstName}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Last Name</label></td>
                <td>
                    <input type="text" th:field="*{lastName}">
                </td>
            </tr>
            <tr>
                <td><label>Degree*</label></td>
                <td>
                    <input type="text" th:field="*{degree}">
                    <div class="field-validation-error" th:errors="*{degree}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Contact Phone</label></td>
                <td>
                    <input type="text" th:field="*{contactPhone}">
                </td>
            </tr>
            <tr>
                <td><label>Email*</label></td>
                <td>
                    <input type="text" th:field="*{email}">
                    <div class="field-validation-error" th:errors="*{email}"></div>
                </td>
            </tr>
            <tr>
                <td class="textarea-label"><label>Address</label></td>
                <td>
                    <textarea th:field="*{address}"></textarea>
                </td>
            </tr>

            </tbody>
        </table>
        <button class="blue-button" type="submit" th:text="${type} + ' Doctor'"></button>
        <a class="blue-button" th:href="@{/patient/index}">Back to Index</a>
    </form>
</main>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>