<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
<main>
    <div class="grid-container customer-index">
        <form method="get" class="filter" th:attr="action=@{/doctor/index}">
            <input type="text" name="fullName" placeholder="Name..." th:attr="value=${fullName}">
            <button class="blue-button" type="submit">Search</button>
        </form>
        <a class="blue-button create-button" th:href="@{/doctor/upsertForm}">Add New Doctor</a>
        <table>
            <thead>
            <tr>
                <th>Action</th>
                <th>Full Name</th>
                <th>Degree</th>
                <th>Contact Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Schedule</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doctor: ${grid}">
                <td>
                    <a th:href="@{/doctor/upsertForm(id=${doctor.id})}" class="blue-button update-button">Edit</a>
                    <a th:href="@{/doctor/delete(id=${doctor.id})}" class="blue-button delete-button">Delete</a>
                </td>
                <td th:text="${doctor.fullName}"></td>
                <td th:text="${doctor.degree}"></td>
                <td th:text="${doctor.contactPhone}"></td>
                <td th:text="${doctor.email}"></td>
                <td th:text="${doctor.address}"></td>
                <td>
                    <a th:href="@{/schedule/index(doctorId=${doctor.id})}" class="blue-button update-button">Cek Schedule</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <div class="pagination">
                        <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                        <div>
                            <a th:each="loop:${#numbers.sequence(1,totalPages)}"
                               th:href="@{/doctor/index(page=${loop})}"
                               th:text="${loop}"></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>